<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle">
    <channel>
        <title>Cog Nightlies</title>
        <link>http://cogosx.sf.net/appcast.xml</link>
        <description>Cog nightly builds.</description>
        <language>en</language>
<% entries.slice(0..5).each do |entry| %>
        <item>
            <title>Cog r<%= entry['revision'] %></title>
            <description><%= entry['changelog'] %></description>
            <pubDate><%= entry['date'] %></pubDate>
            <enclosure url="http://cogosx.sf.net/<%= entry['filename'] %>" length="<%= entry['filesize'] %>" type="application/octet-stream"/>
        </item>
<% end %>
    </channel>
</rss>
